.App {
  text-align: center;
  font: 'Oswald', sans-serif;
}

.cardTopic {
  margin-top: 100px;
}

article.flashcard {
  margin: 0px auto;
  border: 1px rgba(255, 255, 255, 0.03) solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 600px;
  min-width: 600px;
  height: 100%;
  min-height: 400px;
  max-height: 400px;
}

section {
  display: block;
  font-size: 30px;
  text-align: center;
  line-height: 400px;
  width: 100%;
  transition: all 0.1s linear 0s;
  overflow: scroll;

}

.front {
  color: #BA1F53;
  background: #DDD;
  height: 100%;
}

.back {
  color: #DDD;
  background: #C85073;
  max-height: 400px;
  width: 600px;
}

article.flashcardList {
  border-top: solid 1px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.new-card-form {
  margin-bottom: 50px;
  margin-top: 50px;
}

h3 {
  float: left;
}

p.answer {
  margin-left: 40%;
  margin-right: 10%
}

.delete {
  margin-left: 95%;
}
